<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>smobilpay</name>
    <displayName><![CDATA[SmobilPay for e-commerce]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[SmobilPay for e-commerce Prestashop Gateway]]></description>
    <author><![CDATA[Camoo Sarl]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <confirmUninstall><![CDATA[Are you sure you want to uninstall this SmobilPay for e-commerce?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries>CM</limited_countries>
</module>
