<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>e_nkap</name>
    <displayName><![CDATA[SmobilPay for e-commerce]]></displayName>
    <version><![CDATA[1.0.1]]></version>
    <description><![CDATA[SmobilPay for e-commerce Prestashop Gateway]]></description>
    <author><![CDATA[Camoo Sarl]]></author><author_uri><![CDATA[https://www.enkap.cm]]></author_uri>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete these details?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries>CM</limited_countries>
</module>
